<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.git.blog.dao.mapper.BlogArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.git.blog.dto.model.entity.BlogArticle">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="user_id" property="userId" />
        <result column="cover_image" property="coverImage" />
        <result column="editor_type" property="editorType" />
        <result column="qrcode_path" property="qrcodePath" />
        <result column="content" property="content" />
        <result column="content_md" property="contentMd" />
        <result column="top" property="top" />
        <result column="status" property="status" />
        <result column="recommended" property="recommended" />
        <result column="original" property="original" />
        <result column="description" property="description" />
        <result column="keywords" property="keywords" />
        <result column="comment" property="comment" />
        <result column="password" property="password" />
        <result column="required_auth" property="requiredAuth" />
        <result column="reprint_url" property="reprintUrl" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, user_id, cover_image, editor_type, qrcode_path, content, content_md, top, status, recommended, original, description, keywords, comment, password, required_auth, reprint_url, create_time, update_time
    </sql>

</mapper>
