<!DOCTYPE html>
<html lang="zh_CN" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>标签: spring在学习,mysql | 平原人的博客</title>
    <meta name="author" content="平原人">
    <meta name="copyright" content="平原人">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="大雪迷人眼">
    <meta property="og:type" content="website">
    <meta property="og:title" content="平原人的博客">
    <meta property="og:url" content="http://example.com/tags/spring%E5%9C%A8%E5%AD%A6%E4%B9%A0-mysql/index.html">
    <meta property="og:site_name" content="平原人的博客">
    <meta property="og:description" content="大雪迷人眼">
    <meta property="og:locale" content="zh_CN">
    <meta property="og:image" content="https://i.loli.net/2021/02/24/5O1day2nriDzjSu.png">
    <meta property="article:author" content="平原人">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="https://i.loli.net/2021/02/24/5O1day2nriDzjSu.png">
    <link rel="shortcut icon" href="/butterfly/img/favicon.png">
    <link rel="canonical" href="http://example.com/tags/spring%E5%9C%A8%E5%AD%A6%E4%B9%A0-mysql/">
    <link rel="preconnect" href="//cdn.jsdelivr.net" />
    <link rel="preconnect" href="//busuanzi.ibruce.info" />
    <link rel="stylesheet" href="/butterfly/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6/css/all.min.css"
          media="print" onload="this.media='all'">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" media="print"
          onload="this.media='all'">
    <script>const GLOBAL_CONFIG = {
        root: '/',
        algolia: undefined,
        localSearch: undefined,
        translate: undefined,
        noticeOutdate: undefined,
        highlight: { "plugin": "highlighjs", "highlightCopy": true, "highlightLang": true, "highlightHeightLimit": false },
        copy: {
            success: '复制成功',
            error: '复制错误',
            noSupport: '浏览器不支持'
        },
        relativeDate: {
            homepage: false,
            post: false
        },
        runtime: '',
        date_suffix: {
            just: '刚刚',
            min: '分钟前',
            hour: '小时前',
            day: '天前',
            month: '个月前'
        },
        copyright: undefined,
        lightbox: 'fancybox',
        Snackbar: undefined,
        source: {
            justifiedGallery: {
                js: 'https://cdn.jsdelivr.net/npm/flickr-justified-gallery@2/dist/fjGallery.min.js',
                css: 'https://cdn.jsdelivr.net/npm/flickr-justified-gallery@2/dist/fjGallery.min.css'
            }
        },
        isPhotoFigcaption: false,
        islazyload: false,
        isAnchor: false
    }</script>
    <script id="config-diff">var GLOBAL_CONFIG_SITE = {
        title: '标签: spring在学习,mysql',
        isPost: false,
        isHome: false,
        isHighlightShrink: false,
        isToc: false,
        postUpdate: '2022-03-21 01:41:59'
    }</script><noscript>
    <style type="text/css">
        #nav {
            opacity: 1
        }

        .justified-gallery img {
            opacity: 1
        }

        #recent-posts time,
        #post-meta time {
            display: inline !important
        }
    </style>
</noscript>
    <script>(win => {
        win.saveToLocal = {
            set: function setWithExpiry(key, value, ttl) {
                if (ttl === 0) return
                const now = new Date()
                const expiryDay = ttl * 86400000
                const item = {
                    value: value,
                    expiry: now.getTime() + expiryDay,
                }
                localStorage.setItem(key, JSON.stringify(item))
            },

            get: function getWithExpiry(key) {
                const itemStr = localStorage.getItem(key)

                if (!itemStr) {
                    return undefined
                }
                const item = JSON.parse(itemStr)
                const now = new Date()

                if (now.getTime() > item.expiry) {
                    localStorage.removeItem(key)
                    return undefined
                }
                return item.value
            }
        }

        win.getScript = url => new Promise((resolve, reject) => {
            const script = document.createElement('script')
            script.src = url
            script.async = true
            script.onerror = reject
            script.onload = script.onreadystatechange = function () {
                const loadState = this.readyState
                if (loadState && loadState !== 'loaded' && loadState !== 'complete') return
                script.onload = script.onreadystatechange = null
                resolve()
            }
            document.head.appendChild(script)
        })

        win.activateDarkMode = function () {
            document.documentElement.setAttribute('data-theme', 'dark')
            if (document.querySelector('meta[name="theme-color"]') !== null) {
                document.querySelector('meta[name="theme-color"]').setAttribute('content', '#0d0d0d')
            }
        }
        win.activateLightMode = function () {
            document.documentElement.setAttribute('data-theme', 'light')
            if (document.querySelector('meta[name="theme-color"]') !== null) {
                document.querySelector('meta[name="theme-color"]').setAttribute('content', '#ffffff')
            }
        }
        const t = saveToLocal.get('theme')

        if (t === 'dark') activateDarkMode()
        else if (t === 'light') activateLightMode()

        const asideStatus = saveToLocal.get('aside-status')
        if (asideStatus !== undefined) {
            if (asideStatus === 'hide') {
                document.documentElement.classList.add('hide-aside')
            } else {
                document.documentElement.classList.remove('hide-aside')
            }
        }

        const detectApple = () => {
            if (/iPad|iPhone|iPod|Macintosh/.test(navigator.userAgent)) {
                document.documentElement.classList.add('apple')
            }
        }
        detectApple()
    })(window)</script>
    <link rel="stylesheet" href="/butterfly/css/my.css">
    <meta name="generator" content="Hexo 6.1.0">
</head>

<body>

<div id="sidebar">
    <div id="menu-mask"></div>
    <!-- 左边标签 -->
    <div id="sidebar-menus" th:replace="butterfly/includes/head.html::head-sidebar-menus"></div>
</div>

<div class="page" id="body-wrap">
    <header class="not-home-page" id="page-header"
            style="background-image: url('http://cn.bing.com/th?id=OHR.LanyonQuoit_ZH-CN6278576563_1920x1080.jpg&amp;amp;rf=LaDigue_1920x1080.jpg&amp;amp;pid=hp')">
        <nav id="nav"><span id="blog_name"><a id="site-name" href="/">平原人的博客</a></span>

            <div id="menus">
                <div id="menus_items" th:replace="butterfly/includes/head.html::head-menus_items"></div>
                <div id="toggle-menu"><a class="site-page"><i class="fas fa-bars fa-fw"></i></a></div>
            </div>
        </nav>
        <div id="page-site-info">
            <h1 id="site-title">spring在学习,mysql</h1>
        </div>
    </header>
    <main class="layout" id="content-inner">
        <div id="tag">
            <!--<a th:each="tag : ${tags}" th:if="${tag.id%3==1}"  th:href="@{'/tags/'+${tag.id}}" style="font-size: 1.1em; color: #999" data-pjax-state="" th:text="${tag.name}"></a>-->
            <div class="article-sort-title" th:text="'分类 - '+${typeDetail.name}">标签 - spring在学习,mysql</div>
            <div class="article-sort" th:each="articles : ${typeDetail.blogArticleYearDTOList}">
                <div class="article-sort-item year" th:text="${articles.year}"></div>
                <div th:each="article : ${articles.blogArticleDTOList}">
                    <div class="article-sort-item">
                        <a class="article-sort-item-img"
                           th:href="@{'/article/'+${article.id}}"
                           th:title="@{article.title}">
                            <img th:src="${article.coverImage}" th:attr="src=@{article.title}" onerror="this.onerror=null;this.src='/butterfly/img/404.jpg'"></a>
                        <div class="article-sort-item-info">
                            <div class="article-sort-item-time">
                                <i class="far fa-calendar-alt"></i>
                                <time datetime="2022-03-16T11:54:37.000Z" class="post-meta-date-created" th:text="'发表于'+ ${#temporals.format(article.createTime,'yyyy-MM-dd HH:mm:ss')}"></time>
                            </div>

                            <a class="article-sort-item-title" th:href="@{'/article/'+${article.id}}" th:text="${article.title}"></a>
                        </div>
                    </div>
                </div>
            </div>
            <nav id="pagination">
                <div class="pagination"><span class="page-number current">1</span></div>
            </nav>
        </div>
        <div class="aside-content" id="aside-content">
            <div class="card-widget card-info">
                <div class="is-center">
                    <div class="avatar-img"><img src="https://i.loli.net/2021/02/24/5O1day2nriDzjSu.png"
                                                 onerror="this.onerror=null;this.src='/img/friend_404.gif'" alt="avatar" /></div>
                    <div class="author-info__name">平原人</div>
                    <div class="author-info__description">大雪迷人眼</div>
                </div>
                <div class="card-info-data is-center">
                    <div class="card-info-data-item"><a href="/archives/">
                        <div class="headline">文章</div>
                        <div class="length-num">9</div>
                    </a></div>
                    <div class="card-info-data-item"><a href="/tags/">
                        <div class="headline">标签</div>
                        <div class="length-num">3</div>
                    </a></div>
                    <div class="card-info-data-item"><a href="/categories/">
                        <div class="headline">分类</div>
                        <div class="length-num">4</div>
                    </a></div>
                </div><a id="card-info-btn" target="_blank" rel="noopener" href="https://github.com/authorZhao"><i
                    class="fab fa-github"></i><span>Follow Me</span></a>
                <div class="card-info-social-icons is-center"><a class="social-icon" href="https://github.com/authorZhao"
                                                                 target="_blank" title="Github"><i class="fab fa-github"></i></a><a class="social-icon"
                                                                                                                                    href="/2519946973@qq.com" target="_blank" title="Email"><i class="fas fa-envelope"></i></a><a
                        class="social-icon" href="https://gitee.com/authorZhao" target="_blank" title="Gitee"><i
                        class="fa-brands fa-gitter"></i></a><a class="social-icon" href="https://blog.csdn.net/weixin_43328357"
                                                               target="_blank" title="CSDN"><i class="fab fa-cuttlefish flat-btn"></i></a></div>
            </div>
            <div class="card-widget card-announcement">
                <div class="item-headline"><i class="fas fa-bullhorn fa-shake"></i><span>公告</span></div>
                <div class="announcement_content"><span
                        style="display:inline-block;text-indent:2em">平原人的，内容均为个人技术总结和思考，如有笔误，欢迎留言指正。</span>
                    <div style="width:100%;margin-top:10px;text-align:center"><img
                            src="https://img-blog.csdnimg.cn/9bdfd92aaa20416dbe88a36056af22c7.png?"
                            data-lazy-src="https://cdn.jsdelivr.net/gh/jitwxs/cdn/blog/configuration/wechat_qrcode.png"
                            style="max-width:200px;margin:0 auto" class="entered loaded" data-ll-status="loaded"></div>
                </div>
            </div>
            <div class="sticky_layout">
                <div class="card-widget card-recent-post">
                    <div class="item-headline"><i class="fas fa-history"></i><span>最新文章</span></div>
                    <div class="aside-list">
                        <div class="aside-list-item"><a class="thumbnail"
                                                        href="/2022/03/16/hello%E7%AE%80%E5%8D%95%E5%91%BD%E4%BB%A4/" title="hello简单命令"><img
                                src="https://img-blog.csdnimg.cn/0a6d9713a73e4551abfa3fc2d62c12c8.png?x-oss-process=image/watermark,type_d3F5LXplbmhlaQ,shadow_50,text_Q1NETiBA5bmz5Y6f5Lq6,size_20,color_FFFFFF,t_70,g_se,x_16"
                                onerror="this.onerror=null;this.src='/img/404.jpg'" alt="hello简单命令" /></a>
                            <div class="content"><a class="title" href="/2022/03/16/hello%E7%AE%80%E5%8D%95%E5%91%BD%E4%BB%A4/"
                                                    title="hello简单命令">hello简单命令</a><time datetime="2022-03-16T11:54:37.000Z"
                                                                                         title="发表于 2022-03-16 19:54:37">2022-03-16</time></div>
                        </div>
                        <div class="aside-list-item"><a class="thumbnail" href="/2022/03/16/%E8%AF%97%E8%AF%8D%E6%AC%A3%E8%B5%8F/"
                                                        title="诗词欣赏"><img
                                src="http://opadmin.pingyuanren.top/file/jpg/2022/aec320bb804d4e7d9c7481a3fffc108b.jpg"
                                onerror="this.onerror=null;this.src='/img/404.jpg'" alt="诗词欣赏" /></a>
                            <div class="content"><a class="title" href="/2022/03/16/%E8%AF%97%E8%AF%8D%E6%AC%A3%E8%B5%8F/"
                                                    title="诗词欣赏">诗词欣赏</a><time datetime="2022-03-16T11:54:37.000Z"
                                                                               title="发表于 2022-03-16 19:54:37">2022-03-16</time></div>
                        </div>
                        <div class="aside-list-item"><a class="thumbnail"
                                                        href="/2022/03/16/es%E5%B8%B8%E7%94%A8%E6%93%8D%E4%BD%9C/" title="es常用操作"><img
                                src="https://w.wallhaven.cc/full/72/wallhaven-72ozj3.png"
                                onerror="this.onerror=null;this.src='/img/404.jpg'" alt="es常用操作" /></a>
                            <div class="content"><a class="title" href="/2022/03/16/es%E5%B8%B8%E7%94%A8%E6%93%8D%E4%BD%9C/"
                                                    title="es常用操作">es常用操作</a><time datetime="2022-03-16T11:54:37.000Z"
                                                                                   title="发表于 2022-03-16 19:54:37">2022-03-16</time></div>
                        </div>
                        <div class="aside-list-item"><a class="thumbnail"
                                                        href="/2022/03/16/JAVA%E6%BA%90%E7%A0%81%E4%B9%8BReentrantLock%E5%88%86%E5%B8%83%E6%B3%A8%E9%87%8A/"
                                                        title="JAVA源码之ReentrantLock分布注释"><img
                                src="http://opadmin.pingyuanren.top/file/jpg/2022/d80f2edc778e483eb26edb0c84b39bcb.jpg"
                                onerror="this.onerror=null;this.src='/img/404.jpg'" alt="JAVA源码之ReentrantLock分布注释" /></a>
                            <div class="content"><a class="title"
                                                    href="/2022/03/16/JAVA%E6%BA%90%E7%A0%81%E4%B9%8BReentrantLock%E5%88%86%E5%B8%83%E6%B3%A8%E9%87%8A/"
                                                    title="JAVA源码之ReentrantLock分布注释">JAVA源码之ReentrantLock分布注释</a><time
                                    datetime="2022-03-16T08:58:32.000Z" title="发表于 2022-03-16 16:58:32">2022-03-16</time></div>
                        </div>
                        <div class="aside-list-item"><a class="thumbnail"
                                                        href="/2022/03/16/springMVC%E5%BC%82%E6%AD%A5%E6%B5%81%E7%A8%8B/" title="springMVC异步流程"><img
                                src="http://opadmin.pingyuanren.top/file/jpg/2022/9f34c907d11649ee8c037610c6e724eb.jpg"
                                onerror="this.onerror=null;this.src='/img/404.jpg'" alt="springMVC异步流程" /></a>
                            <div class="content"><a class="title" href="/2022/03/16/springMVC%E5%BC%82%E6%AD%A5%E6%B5%81%E7%A8%8B/"
                                                    title="springMVC异步流程">springMVC异步流程</a><time datetime="2022-03-15T18:36:21.000Z"
                                                                                                 title="发表于 2022-03-16 02:36:21">2022-03-16</time></div>
                        </div>
                    </div>
                </div>
                <div class="card-widget card-categories">
                    <div class="item-headline">
                        <i class="fas fa-folder-open"></i>
                        <span>分类</span>

                    </div>
                    <ul class="card-category-list" id="aside-cat-list">
                        <li class="card-category-list-item "><a class="card-category-list-link"
                                                                href="/categories/%E5%90%8E%E7%AB%AF/"><span class="card-category-list-name">后端</span><span
                                class="card-category-list-count">2</span></a></li>
                        <li class="card-category-list-item "><a class="card-category-list-link"
                                                                href="/categories/%E5%90%8E%E7%AB%AF-JAVA/"><span class="card-category-list-name">后端,JAVA</span><span
                                class="card-category-list-count">3</span></a></li>
                        <li class="card-category-list-item "><a class="card-category-list-link"
                                                                href="/categories/%E5%90%8E%E7%AB%AF-%E5%89%8D%E7%AB%AF-JAVA/"><span
                                class="card-category-list-name">后端,前端,JAVA</span><span class="card-category-list-count">2</span></a>
                        </li>
                        <li class="card-category-list-item "><a class="card-category-list-link"
                                                                href="/categories/%E5%90%8E%E7%AB%AF-%E7%AE%97%E6%B3%95/"><span
                                class="card-category-list-name">后端,算法</span><span class="card-category-list-count">1</span></a></li>
                    </ul>
                </div>
                <div class="card-widget card-tags">
                    <div class="item-headline"><i class="fas fa-tags"></i><span>标签</span></div>
                    <div class="card-tag-cloud"><a href="/tags/spring%E5%9C%A8%E5%AD%A6%E4%B9%A0/"
                                                   style="font-size: 1.1em; color: #999">spring在学习</a> <a
                            href="/tags/spring%E5%9C%A8%E5%AD%A6%E4%B9%A0-mysql/"
                            style="font-size: 1.5em; color: #99a9bf">spring在学习,mysql</a> <a
                            href="/tags/spring%E5%9C%A8%E5%AD%A6%E4%B9%A0-redis-mysql/"
                            style="font-size: 1.1em; color: #999">spring在学习,redis,mysql</a></div>
                </div>
                <div class="card-widget card-archives">
                    <div class="item-headline"><i class="fas fa-archive"></i><span>归档</span></div>
                    <ul class="card-archive-list">
                        <li class="card-archive-list-item"><a class="card-archive-list-link" href="/archives/2022/03/"><span
                                class="card-archive-list-date">三月 2022</span><span class="card-archive-list-count">9</span></a></li>
                    </ul>
                </div>
                <div class="card-widget card-webinfo">
                    <div class="item-headline"><i class="fas fa-chart-line"></i><span>网站资讯</span></div>
                    <div class="webinfo">
                        <div class="webinfo-item">
                            <div class="item-name">文章数目 :</div>
                            <div class="item-count">9</div>
                        </div>
                        <div class="webinfo-item">
                            <div class="item-name">本站访客数 :</div>
                            <div class="item-count" id="busuanzi_value_site_uv"></div>
                        </div>
                        <div class="webinfo-item">
                            <div class="item-name">本站总访问量 :</div>
                            <div class="item-count" id="busuanzi_value_site_pv"></div>
                        </div>
                        <div class="webinfo-item">
                            <div class="item-name">最后更新时间 :</div>
                            <div class="item-count" id="last-push-date" data-lastPushDate="2022-03-20T17:41:59.454Z"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <!-- footer -->
    <div th:replace="butterfly/includes/foot.html::foot-footer"></div>
</div>


<!-- 右边小工具 -->
<div th:replace="butterfly/includes/right-side.html"></div>

<!-- 底部js -->
<div th:replace="butterfly/includes/foot.html::foot-under_page"></div>
</body>

</html>
