<!DOCTYPE html>
<html lang="zh_CN" data-theme="light" xmlns:th="http://www.thymeleaf.org">

<head th:replace="butterfly/includes/head.html::head-head"></head>
<body>
<div id="sidebar">
    <div id="menu-mask"></div>
    <!-- 左边标签 -->
    <div id="sidebar-menus" th:replace="butterfly/includes/head.html::head-sidebar-menus"></div>
</div>

<div class="page" id="body-wrap">
    <header class="full_page" id="page-header"
            style="background-image: url('http://cn.bing.com/th?id=OHR.LanyonQuoit_ZH-CN6278576563_1920x1080.jpg&amp;amp;rf=LaDigue_1920x1080.jpg&amp;amp;pid=hp')">
        <nav id="nav"><span id="blog_name"><a id="site-name" href="/">平原人的博客</a></span>

            <!-- 顶部菜单 -->
            <div id="menus">
                <div class="menus_items">
                    <div class="menus_item"><a class="site-page" href="/"><i
                            class="fa-fw fas fa-home"></i><span> 主页</span></a>
                    </div>
                    <div class="menus_item"><a class="site-page" href="/archives/"><i
                            class="fa-fw fas fa-archive"></i><span>
                  归档</span></a></div>
                    <div class="menus_item"><a class="site-page" href="/tags/"><i class="fa-fw fas fa-tags"></i><span>
                  标签</span></a></div>
                    <div class="menus_item"><a class="site-page" href="/categories/"><i
                            class="fa-fw fas fa-folder-open"></i><span> 分类</span></a></div>
                    <div class="menus_item"><a class="site-page group" href="javascript:void(0);"><i
                            class="fa-fw fas fa-list"></i><span> 娱乐</span><i class="fas fa-chevron-down"></i></a>
                        <ul class="menus_item_child">
                            <li><a class="site-page child" href="/music/"><i
                                    class="fa-fw fas fa-music"></i><span> 音乐</span></a>
                            </li>
                            <li><a class="site-page child" href="/movies/"><i
                                    class="fa-fw fas fa-video"></i><span> 电影</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="menus_item"><a class="site-page" href="/link/"><i class="fa-fw fas fa-link"></i><span>
                  链接</span></a></div>
                    <div class="menus_item"><a class="site-page" href="/about/"><i class="fa-fw fas fa-heart"></i><span>
                  关于</span></a></div>
                </div>
                <div id="toggle-menu"><a class="site-page"><i class="fas fa-bars fa-fw"></i></a></div>
            </div>

        </nav>
        <div id="site-info">
            <h1 id="site-title">平原人的博客</h1>
            <div id="site_social_icons"><a class="social-icon" href="https://github.com/authorZhao" target="_blank"
                                           title="Github"><i class="fab fa-github"></i></a><a class="social-icon"
                                                                                              href="/2519946973@qq.com"
                                                                                              target="_blank"
                                                                                              title="Email"><i
                    class="fas fa-envelope"></i></a><a class="social-icon"
                                                       href="https://gitee.com/authorZhao" target="_blank"
                                                       title="Gitee"><i class="fa-brands fa-gitter"></i></a><a
                    class="social-icon" href="https://blog.csdn.net/weixin_43328357" target="_blank" title="CSDN"><i
                    class="fab fa-cuttlefish flat-btn"></i></a></div>
        </div>
        <div id="scroll-down"><i class="fas fa-angle-down scroll-down-effects"></i></div>
    </header>
    <main class="layout" id="content-inner">
        <div class="recent-posts" id="recent-posts">
            <div class="recent-post-item" th:each="article : ${page.records}">
                <div class="" th:class="${article.id%2 == 0} ? 'post_cover left' : 'post_cover right' ">
                    <a th:href="@{'/article/'+${article.id}}" th:title="${article.title}">
                        <img class="post_bg" th:src="${article.coverImage}"
                             onerror="this.onerror=null;this.src='/butterfly/img/404.jpg'" alt="hello-hexo"></a>
                </div>
                <div class="recent-post-info"><a class="article-title" th:href="@{'/article/'+${article.id}}"
                                                 th:text="${article.title}"></a>
                    <div class="article-meta-wrap">
                        <span class="post-meta-date">
                            <i class="far fa-calendar-alt"></i>
                            <span class="article-meta-label">发表于</span>
                        <time datetime="2022-03-16T11:54:37.000Z"
                              th:text="${#temporals.format(article.createTime,'yyyy-MM-dd HH:mm:ss')}"></time>
                        </span>

                        <span class="article-meta">
                            <span class="article-meta-separator">|</span>
                            <i class="fas fa-inbox"></i>
                            <a class="article-meta__categories" th:href="@{/categories/(typeIds=${article.typeIds})}"
                               th:text="${article.types}"></a>
                        </span>

                    </div>

                    <div class="content" th:text="${article.description}"></div>
                </div>
            </div>

            <nav id="pagination" th:if="${totalPage==1}">
                <div class="pagination" th:replace="butterfly/includes/page.html::page-total-1"></div>
            </nav>
            <nav id="pagination" th:if="${totalPage==2}">
                <div class="pagination" th:replace="butterfly/includes/page.html::page-total-2"></div>
            </nav>
            <nav id="pagination" th:if="${totalPage==3}">
                <div class="pagination" th:replace="butterfly/includes/page.html::page-total-3"></div>
            </nav>
            <nav id="pagination" th:if="${totalPage>=4}">
                <div class="pagination" th:replace="butterfly/includes/page.html::page-total-4"></div>
            </nav>
        </div>

        <!-- 左边侧边栏 -->
        <div class="aside-content" id="aside-content">
            <!-- 菜单 -->
            <div th:replace="butterfly/includes/left.html::left-card-info"></div>

            <!-- 公告 -->
            <div th:replace="butterfly/includes/left.html::left-card-announcement"></div>

            <div class="sticky_layout">

                <!-- 最新文章 -->
                <div th:replace="butterfly/includes/left.html::left-card-recent-post"></div>
                <!-- 分类 -->
                <div th:replace="butterfly/includes/left.html::left-card-categories"></div>
                <!-- 标签 -->
                <div th:replace="butterfly/includes/left.html::left-card-tags"></div>
                <!-- 归档 -->
                <div th:replace="butterfly/includes/left.html::left-card-archives"></div>
                <!-- 网站资讯 -->
                <div th:replace="butterfly/includes/left.html::left-card-webinfo"></div>
            </div>
        </div>
    </main>

    <!-- footer -->
    <div th:replace="butterfly/includes/foot.html::foot-footer"></div>
</div>

<!-- 右边小工具 -->

<div th:replace="butterfly/includes/right-side.html"></div>


<div th:replace="butterfly/includes/foot.html::foot-under_page"></div>
</body>

</html>
